.cache
.target/
/bin
logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/project/*-shim.sbt
/activator-sbt-atmos-akka-shim.sbt
/activator
/activator-launch-1.0.9.jar
/activator-sbt-atmos-play-shim.sbt
/activator.bat
